{% extends 'basefront.html.twig' %}

{% block title %}Condidature{% endblock %}

{% block body %}


<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay">

    </div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Postuler une codidature simple</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Acceuil <i class="ion-ios-arrow-forward"></i></a></span>
                    <span class="mr-2"><a href="NousRejoindre.html"> Nous rejoindre<i class="ion-ios-arrow-forward"></i></a></span>
                    <span>offre</span></p>
            </div>
        </div>
    </div>
</section>


<div class="row">

    <div class="col-md-6 offset-md-3 mt-5" style="border: 2px solid #d91a5b;border-radius: 30px " >

        <form accept-charset="UTF-8" action="#" method="POST" enctype="multipart/form-data" target="_blank">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleInputName">Nom </label>
                    <input type="text" name="fullname" class="form-control" id="exampleInputName" placeholder="Entrer yvotre nom" required="required">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputName">Prenom </label>
                    <input type="text" name="fullname" class="form-control" id="exampleInputName1" placeholder="Entrer votre prenom" required="required">
                </div></div>
            <div class="form-group">
                <label for="exampleInputEmail1" required="required">Email </label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un address">
            </div>
            <div class="form-group ">
                <label for="inputAddress">Address</label>
                <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="inputCity">Ville</label>
                    <input type="text" name="ville" class="form-control" id="inputCity" placeholder="Istanbul">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputZip">Zip</label>
                    <input type="text" name="zip" class="form-control" id="inputZip" placeholder="34000">
                </div>
            </div>
            <div class="form-group">
                <label for="example-tel-input" class="col-2 col-form-label">Télephone</label>
                <div class="col-md-12">
                    <input class="form-control" name="tel" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                </div>
            </div>
            <div class="form-group">
                <label for="example-date-input" class="col-3 col-form-label">date disponibilité</label>
                <div class="col-md-12">
                    <input class="form-control" name="date " type="date" value="" id="example-date-input">
                </div>
            </div>
            <div class="form-group mt-5">
                <label class="mr-4"> importer votre CV et LM:</label>

                <input type="file" name="file">
            </div>
            <div class="form-group mt-10 text-center ">

                <button type="submit" class="btn btn-primary btn-lg btn-block">Envoyer</button>

            </div>

        </form>
    </div>

</div>



<div id="footer" style="padding-top:10px" >
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Inscrivez-vous</h4>
                    <p>Inscrivez-vous pour recevoir les notifications des nouveautés des domaines l'environnement, l'hygiène et la santé sécurité au travail</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="S'abonner">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}