{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class= "jumbotron text-center">

    <h1>premiere consulting </h1>
    <p>Initialement les blogs étaient des journaux personnels où étaient publiés des articles souvent futiles.
     Si cela reste votre vision des blogs, il va falloir se remettre à jour car les choses ont changé !
     Le blog est aujourd’hui, une « technologie » marketing largement utilisée par les entreprises, qui y 
    trouvent de nombreux bénéfices.</p>

</div>



{% endblock %}

