<form method="post" action="{{ path('abonner_delete', {'id': abonner.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonner.id) }}">
    <button class="btn">Delete</button>
</form>
