{% extends 'base.html.twig' %}

{% block title %}New SEO{% endblock %}

{% block body %}
    <h1>Create new SEO</h1>

    {{ include('s_e_o/_form.html.twig') }}

    <a href="{{ path('s_e_o_index') }}">back to list</a>
{% endblock %}
